    
    <nav class="navbar navbar-expand-lg bg-light navbar-light">
        <a class="navbar-brand font-weight-light" href="{{path('article.index')}}">SymfPro</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('article.create')}}">new article</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{{path('category.index')}}">categories</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link btn " href="{{path('fos_user_security_logout')}}">LogOut</a>
                    </li>
                {% else %}
                <li class="nav-item ">
                    <a class="nav-link btn " href="{{path('fos_user_security_login')}}">LogIn</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link btn " href="/register">Register</a>
                </li>
                {% endif %}
                
            </ul>
        </div>
    </nav>
